.side-bare{
    width: 200px;
    height: 100vh;
    position: fixed;
    background-color: #FFFFFF;
    /* border-right: 1px solid #dee2e6; */
}

.top-bar {
    border-bottom: 1px solid #dee2e6;
}

ul div, ul li{
    font-size:14px;
}
#dachboard{
    padding: 10px 20px;
    background-color: #17a2b8;
    color: white;
}

.dachboard{
  height: 0px;
  overflow: hidden;
  transition: all 1s ease;

}
.selectedul{
    display: block;
    transition: all 1.2s ease;
    background-color: black;
    opacity: 0.2;
    color: white;
    height : 100px

}


/* --------------------------------------- select --------------------------------------------------- */
.js-example-basic-single{
    width: 100%;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    background-color: #34495E;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: white;

}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: white transparent transparent transparent;
}

.select2-container--default .select2-selection--single{
    background-color:  #2C3E50;
    font-size: 13px;
    color: white;
    border: 0px;
    border-radius: 2px;
}

span.select2-selection.select2-selection--single, .select2-container--default .select2-search--dropdown .select2-search__field  {
        outline: none;
}
.card {
    font-size:14px;
    border-radius: 3px;
}

