body{
    font-family: 'Poppins', sans-serif;
}
 
 .top-bar{
     background-color: white;
 }

 .flex-container {
    display: flex;
    justify-content: space-between;
 
 }

.flex-container > div {
    text-align: center;
    margin: 10px;
}
.flex-container > div > img{
    height : 34px;
}
.user{
       margin-top: 17px !important;
       font-weight: bold;
       color: black;
       font-size: 14px;
}


/* --------------------------------------- elements --------------------------------------------------- */

.btn-fcz {
    background-color: #137f8c !important;
    color: white;
}
.btn-fcz:hover{
    color: white;
}
audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color:#ddd;
     color:white;
     outline: none;
     }
audio{
     outline: none;
}



